@import '../utils/variables';

* {
  font-family: Inter, sans-serif;
}

body {
  color: #fff;
}

.top-info-bar {
  font-size: $content-small-font;
  font-weight: 500;
  color: $text-secondary-color;

  &__list--element--value {
    color: $text-highlight-color;
  }
}

.login-section {
  &__form {
    &--group {
      &--input::placeholder {
        color: $text-secondary-color;
      }

      &--label {
        font-size: $content-font;
      }
    }

    &--button {
      font-weight: 600;
      font-size: $content-font;
      color: #fff;
    }
  }
}

.title-section {
  &__title {
    &--content {
      font-size: $title-font;
      &--link {
        text-decoration: none;
        color: $text-primary-color;
      }
    }

    &--subtitle {
      font-size: $content-font;
    }
  }
}

.coin__field{
  text-decoration: none;
  color: $text-primary-color;
}

.coin, .top-coins {
  font-size: $content-font;
  font-weight: 600;

  &__field {
    &__content--change-24h {
      &--up {
        color: $text-highlight-positive-color;
      }

      &--down {
        color: $text-highlight-negative-color;
      }
    }
  }
}

.header {
  font-size: $content-font;
}

.trending-coins {
  font-size: $content-font;
  font-weight: 500;

  &__title {
    font-size: 1.5rem;
    font-weight: 900;
  }

  &__more--content {
    font-size: $content-small-font;
    color: $text-highlight-color;
  }
}

.trending-coin__field__content {
  text-decoration: none;
  color: $text-primary-color;
}

.top-coins__pagination__page--input {
  color: #fff;
}

.search-bar {
  &__input--content {
    color: #fff;

    &::placeholder {
      color: $text-secondary-color;
    }
  }

  &__results {

    &--result {
      text-decoration: none;

      &--content {
        color: #fff;
        font-size: $content-small-font;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}