@import './src/components/sharedStyles/utils/variables';

.top-info-bar {
  position: fixed;
  width: 100%;
  height: 2.7rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  border-bottom-width: .2rem;
  border-bottom-style: solid;
  border-image: linear-gradient(to left, rgba(#141E30, 0) 10%, $text-highlight-color, rgba(#141E30, 0) 90%) 1;
  background: #141E30;

  &__list {
    width: 50%;
    min-width: 90rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
}