.add-user {
  width: 130rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__title {
    padding-bottom: 2rem;
  }

  &__message {
    padding-top: 2rem;
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__group {
      width: 50rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      &__input {
        border-radius: 1rem;
        height: 4rem;
        width: 20rem;
        border: none;
        background-color: rgba($button-primary-color, .3);
        text-align: center;
        transition: all .4s;

        &::placeholder {
          text-align: center;
        }

        &:focus::placeholder {
          opacity: 0;
        }

        &:focus + .add-user__form__group__label {
          opacity: 1;
          transform: translateY(-8rem);
        }
      }

      &__label {
        transition: all .4s;
        opacity: 0;
        transform: translateY(-3rem);
      }

    }
    &__button {
      height: 3rem;
      width: 15rem;
      border-radius: 1rem;
      border: none;
      background-color: $button-primary-color;
      cursor: pointer;
    }
  }
}