.login-section {
  &__form {
    display: flex;
    align-items: center;
    gap: 1rem;

    &--group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 5rem;

      &--label {
        text-align: center;
        transition: all .4s;
        opacity: 0;
        height: 0;
        transform: translateY(-2rem);
      }

      &--input {
        height: 4rem;
        border-radius: 1rem;
        background: rgba($button-primary-color, .3);
        border: none;

        &::placeholder {
          transition: all .4s;
          text-align: center;
        }

        &:focus + .login-section__form--group--label {
          opacity: 1;
          transform: translateY(-7rem);
        }

        &:focus {
          &::placeholder {
            opacity: 0;
          }
        }
      }
    }

    &--button {
      width: 10rem;
      height: 4rem;
      border: none;
      background-color: $button-primary-color;
      border-radius: 1rem;
      //color: #fff;
    }
  }
}