.login-section {
  display: flex;
  flex-direction: column;

  &__greet {

  }

  &__buttons {
    display: flex;
    gap: 2rem;
  }

  &__button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 8rem;
    height: 4rem;
    padding: 0 1rem;
    border: none;
    background-color: $button-primary-color;
    border-radius: 1rem;
    cursor: pointer;

    &--logout {
      background-color: rgba($text-highlight-negative-color, .7) !important;
    }
  }
}
