$content-font: 1.4rem;
$content-small-font: 1.2rem;
$bar-info-font: 1.1rem;
$title-font: 2.4rem;

$text-primary-color: #ffffff;
$text-secondary-color: #a1a7bb;
$text-highlight-color: #6188ff;
$text-highlight-positive-color: #16c784;
$text-highlight-negative-color: #ea3943;

$button-primary-color: #6188ff;
$button-standard-color: #a1a7bb;

$large-desktop: 100em;
$tablet-landscape: 75em;
$tablet-portrait: 56em;
$phone: 37em;